@keyframes show-progress {
     0% {
          bottom: -100px;
     }
     100% {
          bottom: 100px;
     }
}

@keyframes sizeup {
     0% {
          transform: scale(0);
     }
     100% {
          transform: scale(1);
     }
}

@keyframes bar-anim {
     0% {
          width: 400px;
          left: calc(50vw - 200px);
          bottom: 100px;
          height: 50px;
     }

     100% {
          width: 100%;
          left: 0px;
          bottom: 0px;
          height: 24px;
     }
}

@keyframes footer-out {
     0% {
          bottom: 5px;
     }
     100% {
          bottom: -20px;
     }
}

@keyframes show-circle {
     0% {
          right: -100px;
     }

     100% {
          right: calc(50vw - 350px);
     }
}

@keyframes orbit {
     100% {
          transform: rotate(360deg);
     }
}

a {
     text-decoration: none;
}

#button {
     position: fixed;
     width: 400px;
     height: 400px;
     background-color: #EDC500;
     left: calc(50vw - 200px);
     top: calc(50vh - 220px);
     border-radius: 200px;
     box-shadow: 0px 20px 0px orange;
     animation: sizeup 1s cubic-bezier(0.57, 1.01, 0.57, 1.01);
}

#button-txt {
     font-size: 144px;
     font-family: "Poppins", sans-serif;
     position: absolute;
     text-align: center;
     width: 400px;
     height: 400px;
     line-height: 400px;
     color: black;
     user-select: none;
}

#button:hover {
     background-color: gold;
}

#spinning-circle-container {
     position: absolute;
     animation: orbit 1s linear;
     animation-play-state: paused;
     top: calc(50vh - 70px);
     left: calc(50vw - 350px);
     height: 100px;
     width: 600px;
     background-color: gray;
     z-index: 1;
}

#spinning-circle {
     position: absolute;
     width: 100px;
     height: 100px;
     background-color: #555;
     border-radius: 50px;
     animation: show-circle 1s ease;
     animation-play-state: paused;
     z-index: 2;
}

#progress {
     width: 400px;
     height: 50px;
     background-color: #444;
     position: fixed;
     left: calc(50vw - 200px);
     bottom: 100px;
     animation: show-progress 0.5s ease;
     animation-play-state: paused;
}

#progress-title {
     position: relative;
     font-family: "Oxygen", sans-serif;
     position: absolute;
     left: 20px;
     color: white;
     top: 50%;
     transform: translateY(-50%);
}

#progress-clicks {
     position: relative;
     font-family: "Oxygen", sans-serif;
     position: absolute;
     top: 15px;
     right: 30px;
     color: white;
     top: 50%;
     transform: translateY(-50%);
}

#progress-number {
     font-weight: 700;
}

#progress-slash {
     color: gray;
}

#progress-fill {
     width: 0px;
     height: 50px;
     background-color: dodgerblue;
}

#footer {
     position: fixed;
     animation: footer-out 1s linear;
     animation-play-state: paused;
}

#credit {
     font-size: 12px;
     font-family: "Oxygen", sans-serif;
}
